
.header-fixed {    background: #0d2f55;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
    top:-100px;
    
    width: 100vw;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}
.Search-btn-mob{
	visibility: hidden;
}
.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-fixed-placeholder{
	height: 80px;
	display: none;
}



.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}


.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
	
	
	
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}



body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}




@media all and (max-width: 600px) {
    .query-form{
    	visibility: hidden;
    }
	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}
    .Search-btn-mob{
	visibility: visible;
}
	body.fixed .header-fixed {
		display: none;
	}

}


.query-form{
	position: absolute;
	display: inline-block;
    margin-left: -55%;
}
.medium{display: inline-block;}
.medium input{width: 120px;}
.board{
	display: inline-block;
}
.board input{width: 120px;}
.class{
	display: inline-block;
}
.school{
	display: inline-block;
}
.school input{
	width: 360px;
}
input{height: 30px; border: 1px solid black; padding:0px 0px 0px 10px;}
.submit-btn{
	display: inline-block;
}
button{ height: 30px;  border: none; width: 80px;background-color: #eb2026; border-color: #bc0006; color: #fff;}
@media screen and (min-width: 768px) and (max-width: 1024px){
.school{
	visibility: hidden;
	width: 0px;
}
.school input{
	width: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1000px){
		.query-form{
	position: absolute;
	display: inline-block;
    margin-left: -43%;
}
.medium{display: inline-block;}
.medium input{width: 75px;}
.board{
	display: inline-block;
}
.board input{width: 70px;}
.class{
	display: inline-block;
}
.class input{ width: 90px; }

.submit-btn{
	display: inline-block;

}

}
}