.mobile-header{visibility: hidden;}
.header-fixed {  
	background: linear-gradient(to right,#7199c7,#28babe, #38b2c0 20%, #7199c7 );  
   box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
    top:-100px;
    
    width: 100vw;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}
.Search-btn-mob{
	visibility: hidden;
}
.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-fixed-placeholder{
	height: 80px;
	display: none;
}



.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #333333;
}


.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
	
	
	
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}



body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}

.query-form{
	position: absolute;
	display: inline-block;
    margin-left: -55%;
}
.medium{display: inline-block;}
.medium input{width: 120px;}

.board{
	display: inline-block;
}
.board input{width: 120px;}
.class{
	display: inline-block;
}

input{height: 30px;padding:0px 0px 0px 10px;   border:none; padding-left: 8px;border-radius: 3px; }
.submit-btn{
	display: flex;
	float: right;
	justify-content: center;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 5px;
	
	

	

}
/* .btn-submit{padding-bottom: 200px; border: none; width: 80px;background-color: #eb2026; border-color: #bc0006; color: #fff; font-size: 15px; height: 30px; font-size: 10px;} */

@media all and (max-width: 750px) {
	.search-icon{
		margin-right: 20px;
		
	}
	
	.mobile-header{visibility: visible;z-index: 1; margin: -15px;}
	.user_cart_container{visibility: hidden; z-index: -500000;}
    .query-form{
    	visibility: hidden;
    }
	.header-fixed {
		padding: 20px 0;
		height: 75px;
		margin-top: -5px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

@media screen and (min-width: 760px) and (max-width: 1430px){
		.query-form{
	position: absolute;
	display: inline-block;
    margin-left: -60%;
}
.medium{display: inline-block;}
.medium input{width: 95px;}
.board{
	display: inline-block;
}
.board input{width: 95px;}
.class{
	display: inline-block;
}
.class input{ width: 95px; }

/* .submit-btn{
	display: inline-block;
	 */

}


@media all and (min-width: 2050px){
	.query-form{
	
		margin-left: -27%;
	}
}
.slider_hidden{
    visibility: hidden;
}

.slider_visible{
	visibility: visible;
	height: 80px;
	width: 100vw;
	position: absolute;
	top:0px;
	right: 0px;
	background-color: red;
	z-index: 10;


}