<footer>
  <hr>
     <div class="col-xs-12 footer">
        <div class="footer-top small-copy">
            <div class="footer-content-area connect-with-us">
             <div class="social-footer-icons">
              <div class="label">Be Social</div>          
                <a target="_blank" class="facebook-footer"></a>
                <a target="_blank" class="instagram-footer"></a>
                <a arget="_blank" class="pinterest-footer"></a>
                <a target="_blank" class="twitter-footer"></a>
             </div>
             </div>
      <!-- <h1>Be Social</h1> 
      <div class="social_logo"> <a href="#" class="icon-10 facebook" title="Facebook"><img src="../../../assets/Picons Social/SVG/Round/06-facebook.svg" alt="facebook"></a>
      </div><div class="social_logo"> <a href="#" class="icon-26 twitter" title="Twitter"><img src="../../../assets/Picons Social/SVG/Round/67-gmail.svg" alt="facebook"></a>
      </div ><div class="social_logo"> <a href="#" class="icon-14 googleplus" title="GooglePlus"><img src="../../../assets/Picons Social/SVG/Round/03-twitter.svg" alt="facebook"></a>
      </div><div class="social_logo"> <a href="#" class="icon-14 email" title="Email Us"><img src="../../../assets/Picons Social/SVG/Round/23-whatsapp.svg" alt="facebook"></a>
      </div> -->
    </div>
  </div>
  <div class="footer-bottom small-copy">
    <div class="footer-copyright">  
      © <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>2017
      Edbird. All Rights Reserved. 
    </div>
    <div class="footer-legal-links">
      <a href="#">Terms of Service</a>   
      <a href="#">Privacy Policy</a>
    </div>
    </div>
    
  </footer> 