<app-header></app-header>
<div class="container">
    <div class="product">
     <div class="img-container">
       <img src="images/book20.jpg">
     </div>
     <div class="product-info">
       <div class="product-content">
         <h1>Book Name</h1>
         <p>Book Discription Book Discription Book Discription Book Discription Book Discription Book Discription Book Discription Book Discription  </p>
         <h4>Order Status</h4>
         <div class="buttons">
           <button class="button cancle" >Cancel</button>
         <button class="button order" >Return Order</button>
           <span class="button" id="price"><span >Price:</span>59</span>
         </div>
       </div>
     </div>
   </div>
   </div>
