<app-header></app-header>
<div class="page-header">
  <div class="date-of-order">
    <h5>DATE OF ORDER</h5>
    <p>{{clicked_item.date | date:'medium'}}</p>
  </div>
  <div class="order-total">
    <h5>ORDER TOTAL</h5>
    <p>{{this.order_total}}</p>
  </div>
  <div class="shipping-address">
    <h5>SHIPPING ADDRESS</h5>
    <p>{{clicked_item.name}}</p>
    <p class="user-address">{{clicked_item.address}}</p>
    <p>Mobile:{{clicked_item.phone}}</p>
  </div>
</div>
<div *ngFor = "let eachbook of clicked_item.order" class="container">

    <div class="product">
     <div class="img-container">
       <img [src]="eachbook.image">
     </div>
     <div class="product-info">
       <div class="product-content">
         <h1>{{eachbook.name | uppercase}}</h1>
         <p>{{eachbook.description}}</p>
         <h4>Order Status</h4>
         <div class="buttons">
           <button class="button cancle" >Cancel</button>
         <button class="button order" >Return Order</button>
           <span class="button" id="price"><span >Price:</span>59</span>
         </div>
       </div>
     </div>
   </div>

   </div>
<div class="product-total">
  <div class="sub-total">
    <div class="title">
      <span>SUB TOTAL</span>
    </div>
    <div class="price">
      {{order_total}}
    </div>
  </div>
  <div class="Delivery-Charges">
    <div class="title">
      <span>Delivery Charges</span>
    </div>
    <div class="price">
      {{delivery_charge}}
    </div>
  </div>
  <div class="Order-Total">
    <div class="title">
      <span>Total</span>
    </div>
    <div class="price">
      {{order_total+delivery_charge}}
    </div>
  </div>
</div>