<app-header></app-header>
<div class="page-header">
  <div class="date-of-order">
    <h5>DATE OF ORDER</h5>
    <p>27 March 2018</p>
  </div>
  <div class="order-total">
    <h5>ORDER TOTAL</h5>
    <p>200</p>
  </div>
  <div class="shipping-address">
    <h5>SHIPPING ADDRESS</h5>
    <p>User name</p>
    <p class="user-address">Address address address address</p>
    <p>Moible:12345678</p>
  </div>
</div>
<div class="container">
    <div class="product">
     <div class="img-container">
       <img src="images/book20.jpg">
     </div>
     <div class="product-info">
       <div class="product-content">
         <h1>Book Name</h1>
         <p>Book Discription Book Discription Book Discription Book Discription Book Discription Book Discription Book Discription Book Discription  </p>
         <h4>Order Status</h4>
         <div class="buttons">
           <button class="button cancle" >Cancel</button>
         <button class="button order" >Return Order</button>
           <span class="button" id="price"><span >Price:</span>59</span>
         </div>
       </div>
     </div>
   </div>
   </div>
<div class="product-total">
  <div class="sub-total">
    <div class="title">
      <span>SUB TOTAL</span>
    </div>
    <div class="price">
      42434
    </div>
  </div>
  <div class="Delivery-Charges">
    <div class="title">
      <span>DElivery Charges</span>
    </div>
    <div class="price">
      42434
    </div>
  </div>
  <div class="Order-Total">
    <div class="title">
      <span>Total</span>
    </div>
    <div class="price">
      42434
    </div>
  </div>
</div>