<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="order-heading">
	<h1>Order</h1></div>
	<div *ngFor = "let singleorder of myorders ; let i = index"class="order">
	<div class="product">
	<div class="date">
		{{singleorder.date}}
	</div>
	<div *ngFor = "let eachbook of singleorder.order"class="order-details">
		<!-- <div class="order-id">#1234455</div> -->
		<div class="order-name">
      <ul>
			<li>{{eachbook.description}}</li>
			<!-- <li>2e2qrwtsgrehrjdtjtjtr</li>
			<li>2e2qrwterhtrjyktrky</li> -->
		</ul>
	</div>
	<div class="order-total"> {{eachbook.amount*eachbook.price}}</div>
	<div class="order-status">status teurureutr</div>
	</div>
	<div class="product-footer">
		<div class="order-status-msg"><p>We expect to deliver order till</p></div>
		<button (click)="viewDetails(i)">View Order</button>
</div>
</div>
</div>

<!-- <div *ngFor="let singleorder of myorders"class='test'>
	<p>
		aslkdjalskdjalskdjlaksjdlkasjdl
	</p>
</div> -->