<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="order-heading">
	<h1>Order</h1></div>
	<div class="order">
	<div class="product">
	<div class="date">
		29 oct 1998
	</div>
	<div class="order-details">
		<div class="order-id">#1234455</div>
		<div class="order-name">
      <ul>
			<li>2e2qrwtfeegyhre</li>
			<li>2e2qrwtsgrehrjdtjtjtr</li>
			<li>2e2qrwterhtrjyktrky</li>
		</ul>
	</div>
	<div class="order-total"> 200</div>
	<div class="order-status">status teurureutr</div>
	</div>
	<div class="product-footer">
		<div class="order-status-msg"><p>We expect to deliver order till</p></div>
		<button [routerLink]="['/orderdetails']">View Order</button>
</div>
</div>
</div>
