<app-header></app-header>
<main> 
        <div *ngIf="this.storage.get('cart').length" class="basket">
                <div class="basket-labels">
                    <ul>
                        <li class="item item-heading">Item</li>
                        <li class="price">Price</li>
                        <li class="quantity">Quantity</li>
                        <li class="subtotal">Subtotal</li>
                    </ul>
                </div>
                <div *ngFor="let item of cart">
                    <div class="basket-product">
                            <div class="item">
                                    <div class="product-image">
                                        <img src={{item.image}} alt="Placholder Image 2" class="product-frame">
                                    </div>
                                    <div class="product-details">
                                        <h1><strong><span class="item-quantity">{{item.description}}</span></strong> </h1>
                                        <p><strong>{{item.name|uppercase}}</strong></p>
                                        
                                    </div>
                                </div>
                                <div class="price">{{item.price}}</div>
                                <div class="quantity">
                                    <ul class="quantity-list">
                                        <li>
                                            <button (click)=itemUpdate(item.description,-1)>-</button>
                                        </li>
                                        <li class="value">{{item.amount}}</li>
                                        <li>
                                            <button (click)=itemUpdate(item.description,+1)>+</button>
                                        </li>
                    
                                    </ul>
                                </div>
                                <div class="subtotal">{{item.amount*item.price}}</div>
                                <div class="remove">
                                    <button (click)=itemRemove(item.description)>Remove</button>
                                </div>
                    </div>
                </div>
            </div>
    
        <!-- <side cart> -->
        <aside>
            <div *ngIf="this.storage.get('cart').length" class="summary">
                <div class="summary-total-items"><span class="total-items"> PRICE DETAILS</span></div>
                <div class="summary-subtotal">
                    <div class="subtotal-title">Price({{items}} items)</div>
                    <div class="subtotal-value final-value" id="basket-subtotal">{{totalPrice}}</div>
                    <div class="subtotal-title">Delivery Charges</div>
                    <div class="subtotal-value final-value" id="basket-subtotal">0.00</div>
                 </div>
                    <div class="summary-total">
                        <div class="total-title">Amount Payable</div>
                        <div class="total-value final-value" id="basket-total">{{totalPrice}}</div>
                    </div>
                    <div class="summary-checkout">
                        <button class="checkout-cta" (click) = "goToCheckout()">Checkout</button>
                    </div>
                </div>
        </aside>
    
    </main>