<app-header></app-header>
<div class="wrapper ">
  <div class="button">
    <input type="checkbox" class="button--checkbox" id="menu-toggle">
    <div class="button__cta">
      <label for="menu-toggle" class="card__button">
        <span class="card__button--signup">Sign Up</span>
     </label>
    </div>
    <div class="button__cta">
        <label for="menu-toggle" class="card__button">
         <span class="card__button--login">Login</span>
        </label>
    </div>
    
    <div class="card">
    
      <input type="text" placeholder="First Name" id="fname">
      <input type="text" placeholder="Last Name" id="lname">
      <input type="email" placeholder="Email" id="email">
      <input type="password" placeholder="Password" id="password">
      <button class="btn">
        <span class="btn__signup">Sign Up</span>
        <span class="btn__login">Login</span>
      </button>
    
  </div>

  </div>

  </div>
  <div class="signin-up-link">
<div class="moblie-signin-form">Already a User?<a  [routerLink]="['/signin']"><span>Sign In</span></a></div>
</div>