<app-header></app-header>
<div class="book_data">
 
  <div  *ngFor="let subject of subjects" class="snip1171 col-xs-12 col-sm-12 col-md-4 col-lg-4 blue">
      <img  src={{subject.image}}  alt="sample52"/>
      <div class="price"><div class="product-price"><span style="font-weight:200;">&#8377;</span> {{subject.price}}</div></div>
      <div style="background-color:white;height:95px;align-items:center;vertical-align:middle;position: relative;">
      <!-- <h3>{{subject.name|uppercase}}</h3> -->
      
        <p style="padding-top:10px;">
          {{subject.description|uppercase}}
        </p>
      
        <div class="buy-now" style="float: left; margin-top: 20px;">
         
          <p><button style="cursor:pointer"(click)=addToCart(subject.name,subject.description,subject.image,subject.price) id="button">Add to Cart</button></p>
        </div>
       
      </div>
        </div>
</div>
<!-- <script>
  document.getElementById("button").addEventListener("click",function(){
  Toastify({
    text: "I'm a toast",
    duration: 1000,
    destination: 'https://github.com/apvarun/toastify-js',
    newWindow: true,
    close: true,
    gravity: "top", // `top` or `bottom`
    positionRight: true, // `true` or `false`
    backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)"
  }).showToast();
});

</script> -->