<app-header></app-header>
<div class="book_data">
  <!-- <div class="container_book"> -->
<div   *ngFor="let subject of subjects">
  <figure class="snip1171 orange">
    <img src={{subject.image}} height=350px width=400px alt="sample52"/>
    <div class="price">{{subject.price}}</div>
    <figcaption>
      <h3>{{subject.name|uppercase}}</h3>
  
      <p>
        {{subject.description|uppercase}}
      </p><a (click)=addToCart(subject.name,subject.description,subject.image,subject.price)>Add to Cart</a>
        <div class="buy-now" style="float: left; margin-top: 20px;">
          <p><button (click)=buyNow(subject.name,subject.description,subject.image,subject.price)>BUY NOW</button></p>
        </div>
    </figcaption>
  </figure>
  
   <!-- <div class="container">
      <div class="row">
        
          <div class="col-sm-3" style="text-align: center;">
              <article class="col-item">
                  <div class="photo">
                      <div class="options-cart-round">
                          <button class="btn btn-default" title="Add to cart">
                              <span class="glyphicon glyphicon-shopping-cart"></span>
                          </button>
                      </div>
                      <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Product Image" /> </a>
                  </div>
                  <div class="info">
                      <div class="row row-footer">
                          <div class="price-details col-md-6">
                              <div class="details">
                                 <h2>Books Name</h2>
                              </div>
                               <h1>by author</h1>
                              
                             <strong><span class="price-new">Rs.110</span></strong> 
                          </div>
                      </div>
                  </div> 
              </article>
          </div>
          </div>
      </div> -->

</div>
</div>
<!-- </div> -->