<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="container">
  
    <div class="Personal-details">
      <div class="ps-heading">
     <h1>Personal Information</h1>
    </div>
     <ul>
     <li>
     <input type="text" name="username" value="user ka naam">
     </li>
     <li><input type="email" name="user-email" value="user ka email"></li>
     <li><input type="password" name="user-password" placeholder="Enter Current Password"></li>
     <li><input type="password" name="user-password" placeholder="Change Your Password"></li>
     <li><input type="password" name="user-password" placeholder=" Confirm Your Password"></li>
     <li><input type="text" name="user-address" value="user ka address"></li>
    </ul>
    </div>
  </div>
  <button>Save Changes</button>
