
  <div class="">
  <div class="page-header">
    <!-- <div class="test">
     

    </div> -->
    <div class="header-image">
     <div class="logo-home">
       <img src="assets/images/logo.png">
     </div>
   </div>
   <div class="typewrite-body">
   <h1>
<a href="" class="typewrite" data-period="2000" data-type='[ "Class", "Book",  "Spirit"]'>
  <span class="wrap"></span>
</a>
</h1>
</div>
<form (ngSubmit)="fetchData(fetchBooks.value)" [formGroup]="fetchBooks">
<div class="form-body">
    <div class="medium">
        <input list="studentMedium"  placeholder="Medium" formControlName="medium">
        <datalist id="studentMedium" >
          <option value="English">
          <option value="Hindi">
          </datalist>
      </div>
      <div class="board">
          <input list="studentBoard"  placeholder="Board" formControlName="board">
          <datalist id="studentBoard" >
            <option value="CBSE">
            <option value="RBSE">
            <option value="ICSE">
            </datalist>
        </div>
    <div class="class">
        <input list="studentClass"  placeholder="Class" formControlName="class">
          <datalist id="studentClass" >
            <option value="class 1" class="check">
            <option value="class 2" class="check">
            <option value="class 3">
            <option value="class 4">
            <option value="class 5">
            <option value="class 6">  
            <option value="class 7">
            <option value="class 8">
            <option value="class 9">
            <option value="class 10">
            <option value="class 11-SCIENCE">
            <option value="class 11-COMMERCE">
            <option value="class 11-ARTS">
            <option value="class 12-SCIENCE">
            <option value="class 12-COMMERCE">
            <option value="class 12-ARTS"> 
          </datalist>
  </div>



<div class="submit-btn">
  <button type="submit">Submit</button>
</div>
</div>
</form>
<!-- </header> -->
<div layout-align="center center">
<div class="about-us">
<h2>The Book revolution is Here</h2>
<div class="about-us-content">
<ul>
  <li>
    <div class="section section1">
      <h3> Everything but ecommerce. </h3>
       <p>Designed not just to sell books but to make a student fall in love with them.</p>
  </div>
</li>
  <li>
    <div class="section section2">
      <h3> Save time and save your fuel. </h3>
       <p>Quick checkout and hassle-free next day delivery at your doorsteps. </p>
    </div>
  </li>
  <li>
    <div class="section section3">
      <h3> Not just this time. </h3>
       <p> Get referred books by experts to fill your child needs throughout the year. </p>
    </div>
  </li>
  <li>
    <div class="section section4">
      <h3> Last but not the least. </h3>
       <p> Best class stationary to make a mark. </p>
       
    </div>
  </li>
</ul>
</div>
</div>
</div >


