<div>
  <form [formGroup] = "signinForm" (ngSubmit)="signIn(signinForm.value)">
      <div>
        <label for = "email">Email</label>
        <input type="email" formControlName = "email">
      </div>
      <div>
        <label for = "password">Password</label>
        <input type="password" formControlName = "password">
      </div>
      <div>
        <button type = "submit">Sign In</button>
        <button type = "button" (click)="forget()">Forget Password?</button>
      </div>
  </form>
</div>